body {
    font-family: 'Roboto', sans-serif;
    color: #707070;
    padding-bottom: 50px;
}

.header {
    padding: 20px;
    text-align: center;
    background: #e41021;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-principal {
    text-align: center;
    margin: 40px 0 40px 0;
}

/*Área de ação*/

.area-de-acao-1 {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-auto-rows: 40px;
    grid-gap: 12px;
    width: 40%;
    margin: 0 auto;
}

.botao-nav-1 {
    display: grid;
    grid-template-columns: 1fr;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
    border: 1px solid rgba(128, 128, 128, .25);
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-items: center;
}

.img-botao {
    max-width: 90%;
}

.form-1 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 0.5fr;
    grid-auto-rows: 40px;
    grid-gap: 12px;
    margin: 0 0;
}

.caixa-form-1 {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
    border: 1px solid rgba(128, 128, 128, .25);
    border-radius: 5px;
    padding: 0 12px;
}

.botao-1 {
    background: #e41021;
    box-shadow: 5px 5px 6px rgb(0 0 0 / 20%);
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

/*Área de ação 2*/

.area-de-acao-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
}

.botao-nav-2 {
    background: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
    border: 1px solid rgba(128, 128, 128, .25);
    border-radius: 5px;
    width: 40px;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

.form-2 {
    display: flex;
    margin-left: 12px;
}

.caixa-suspensa {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
    border: 1px solid rgba(128, 128, 128, .25);
    border-radius: 5px;
    height: 100%;
    width: 10em;
    padding: 2px;
}


.botao-2 {
    background: #e41021;
    box-shadow: 5px 5px 6px rgb(0 0 0 / 20%);
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 12px;
    width: 5em;
}

/*Area de Resultados*/

.container-1 {
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 5px 5px 25px rgb(0 0 0 / 70%);
    border-radius: 10px;
    min-height: 500px;
    width: 875px;
    margin: 50px auto 50px auto;
    padding: 50px 50px;
}

.card-pesquisa-e-add {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 17px;
    box-shadow: 5px 5px 25px rgb(0 0 0 / 70%);
    border-radius: 10px;
    width: 100%;
    margin: 0 auto 50px auto;
    font-size: 14px;
}
.card-cabecalho {
    background: #e41021;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    align-items: center;
    font-size: 16px;
}

.text-card-cabecalho-estatico {
    font-weight: bold;
    margin-left: 18px;
}

.text-card-cabecalho-variavel {
    box-sizing: border-box;
    font-weight: normal;
    margin-left: 4px;
}

.caixa-texto-1 {
    display: flex;
}

.linha-estatica {
    margin-left: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.linha-variavel {    
    margin-top: 10px;
    margin-left: 5px;
}

.botao-adicionar {
    position: relative;
    background: #e41021;
    box-shadow: 5px 5px 6px rgb(0 0 0 / 20%);
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    bottom: 50px;
    left: 690px;
    width: 68px;
    height: 38px;
    cursor: pointer;
}

/*aguardando status para trabalhar com classes*/

.status {
    position: relative;
    /*background: #e41021;*/
    background: green;
    box-shadow: 5px 5px 6px rgb(0 0 0 / 20%);
    border: none;
    border-radius: 100%;
    color: #FFFFFF;
    bottom: 35px;
    left: 720px;
    width: 38px;
    height: 38px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #707070;
}